.grid-row {
    display: flex;
    flex-direction: row;
    width: 97%;
    margin: 0 auto;
    max-width: 320px;
}

h1{
    color: #554444;
}

.container {
    margin: 0 auto;
}

.status {
    display: block;
    color: red;
    font-size: 21px;
    margin: -20px 0 8px;
}

button {
    user-select: none;
    margin-top: 30px;
    padding: 15px 25px;
    font-size: 24px;
    text-align: center;
    cursor: pointer;
    outline: none;
    color: #fff;
    background-color: #4CAF50;
    border: none;
    border-radius: 15px;
    box-shadow: 0 9px #999;
}
 
button:hover {background-color: #3e8e41; user-select: none;cursor: pointer;}

button:active {
  user-select: none;
  background-color: #3e8e41;
  box-shadow: 0 5px #666;
  transform: translateY(4px);
}