.grid-row {
    display: flex;
    flex-direction: row;
    width: 97%;
    border: 1px solid red;
    margin: 0 auto;
    max-width: 320px;
}

.container {
    margin: 0 auto;
}

.status {
    background-color: green;
}